*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid black;
    
}


.d-flex{
     width: 200px;

}

.g-primary{
    border: 1px solid black;
    height: 300px;
    width: 300px;
}
