*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    background-color: azure;
}

.col-md-2{
    height: 100px;
    border: 1px solid black;
}