*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    
}

.col-md-2{
    height: 100px;
    border: 1px solid black;
    background-color: rgb(39, 48, 45);
}

.row{
    border: 5px solid rgb(136, 255, 0);
}
