*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  border: 2px solid black;
  margin-top: 20px;
}

.row{
  height: 200px;
  border: 1px solid red;
  margin-bottom: 20px;
}

.box{
  background-color: steelblue;
  border: 1px solid black;
  color: white;
  padding: 10px;
}
