*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    color: white;
    margin: auto;margin-top: 50px;
    gap: 20px;
}

.container:hover{
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 1s ease-in-out;
}

.col-md-1{
    height: 300px;

}

.accordion1{
    background-color: red;
}
.accordion2{
    background-color: green;
}

.accordion3{
    background-color: blue;
}

.accordion4{
    background-color: yellow;
}

.accordion5{
    background-color: orange;
}


.accordion6{
    background-color: purple;
}
.accordion7{
    background-color: pink;
}