*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid{
    border: 1px solid black;
}

.row .col{
    border: 1px solid black;
}

ul{
    display: flex;
   float: right;
   gap: 2rem;
   color: brown;
   padding-top: 10px;
   
}
ul li{
    list-style: none;
}

button{
    background-color: rgb(0, 91, 196);
    padding-left: 15px;
     padding-right: 15px;
}

h1{
    text-align: center;
}

.colll{
    height: 250px;
    border: 1px solid black;
}