*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.scroll{
    float: right;
}

.heading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    word-spacing: 10px;
}
