*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    background-color: antiquewhite;
    
}

.row{
    height: 500px;
    border: 1px solid black;
    
}
.col-md-2{
    border: 1px solid black;
}