*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    background-color: chocolate;
}

.row{
    border: 1px solid black;
    height: 400px;
    
}
.col-md-2{
    border: 1px solid black;
}