*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
   
}

.row{
    height: 500px;
    border: 1px solid black ;
}

.col-md-1{
    
    height: 300px;
    width: 200px;
    border: 2px solid rgb(14, 13, 13);
}