*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

.container{
    margin: 20px auto;
    border: 1px solid black;
 }

 .row{
    height: 70vh;
    border: 1px solid black m  ;
 }

.col-md-2{
    border: 1px solid black; 
}