*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
}

.row{
    border: 1px solid red;
}

.col-md-10{
    border: 1px solid rgb(0, 17, 250);
    height: 100px;
}

.box-1{
    background-color: aqua;
}

.box-2{
    background-color: rgb(20, 5, 151);
}
.box-3{
    background-color: rgb(72, 255, 0);
}

.box-4{
    background-color: rgb(184, 197, 7);
}