*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    background-color: cornflowerblue;
}


.col-md-1{
    width: 100px;
    height: 100px;
    border: 1px solid green;
}