*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    
}

.row{
    border: 1px solid red;
}

.col-md-1{
    height: 150px;
    width: 100px;
    border: 2px solid green ;
}